:root {
  --gap: 34px;
  --backg-color: white;
  --backg-color-light: rgba(0, 0, 0, 0.1);
  --accent-color: rgb(37, 110, 245);
}

body,
html {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.15;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}
.page {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  /* linear-gradient(0deg,rgba(0, 0, 0, 0.5) 0%,rgba(255, 255, 255, 0) 50%,rgba(0, 0, 0, 0.5) 100%),  */
  background-position: center center;
  opacity: 1;
  filter: blur(0);
  transition: opacity 0.3s ease, filter 0.3s ease;
}

.page-in {
  animation: ease 0.3s backgroundSlideAnimation;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

@keyframes backgroundSlideAnimation {
  0.0% {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.widgets {
  max-width: 100%;
  transition: max-width 0.2s ease;
}

.widgets-slide {
  max-width: calc(100% - 400px) !important;
}

.widgets > .top-left {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: var(--gap);
  margin-left: var(--gap);
}

.widgets > .top-right {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: var(--gap);
  margin-right: var(--gap);
  transition: right 0.3s ease !important;
}

.widgets > .slidden {
  right: 400px;
}

.widgets > .bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: var(--gap);
  margin-right: var(--gap);
}

.widgets > .bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: var(--gap);
  margin-left: var(--gap);
}

.widgets > .center-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: var(--gap);
}

.widget {
  padding: 20px 38px 20px 38px;
  border-radius: 8px;
  transition: background-color 0.2s ease 0s;
}
.widget:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.widget > * {
  user-select: none;
}
/* Time Widget */
.time--a1 {
  color: var(--backg-text-color);
  font-size: 5rem;
  font-weight: 600;
}
.time--a2 {
  display: block;
  color: var(--backg-text-color);
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.7;
}

/* settings */
.settings {
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.7);
}
.settings > .settings-right {
  position: absolute;
  width: 400px;
  max-width: 50%;
  background-color: white;
  height: 100vh;
  right: 0;
  top: 0;
  transition: right 0.3s ease;
}
.settings-closed > .settings-right {
  position: absolute;
  width: 400px;
  max-width: 50%;
  background-color: white;
  height: 100vh;
  right: -400px;
  top: 0;
  transition: right 0.3s ease;
}

.settings-right > .settings-pad {
  padding: 10px 0px 0px 35px;
}

.loading {
  background: var(--backg-color-light);
  background-size: 600% 600%;
}

.loading {
  background: linear-gradient(
    270deg,
    var(--backg-color-light),
    var(--backg-color-light),
    var(--backg-color-light),
    var(--backg-color-light),
    var(--backg-color-light),
    var(--backg-color-light),
    var(--backg-color),
    var(--backg-color-light),
    var(--backg-color-light),
    var(--backg-color-light),
    var(--backg-color-light),
    var(--backg-color-light),
    var(--backg-color-light)
  );
  background-size: 600% 600%;

  -webkit-animation: SkeletonAnimation 6s ease infinite;
  -moz-animation: SkeletonAnimation 6s ease infinite;
  animation: SkeletonAnimation 6s ease infinite;
}

@-webkit-keyframes SkeletonAnimation {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes SkeletonAnimation {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes SkeletonAnimation {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  color: var(--accent-color);
  text-decoration: none;
}
